<div class="col-xs-12 col-lg-6">
  <fieldset>
    <legend>Credits</legend>
    <div class="col-xs-12">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let credit of credits; let i = index">
            <td>
              <input type="text" class="form-control" [disabled]="disabled" [(ngModel)]="credit.name"/>
            </td>
            <td>
              <input type="number" class="form-control" [disabled]="disabled" [(ngModel)]="credit.value"/>
            </td>
            <td class="table-actions">
              <button class="btn btn-success" [disabled]="disabled" (click)="add(i)">
                <i class="fa fa-plus"></i>
              </button>
              <button class="btn btn-warning" [disabled]="disabled" (click)="clone(i)">
                <i class="fa fa-clone"></i>
              </button>
              <button class="btn btn-danger" [disabled]="disabled" (click)="delete(i)">
                <i class="fa fa-trash-o"></i>
              </button>  
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>
</div>