<div class="box-body">
  <button class="btn btn-success btn-sm" (click)="onClickInsert.emit()">
      <i class="fa fa-plus"> </i> New
  </button>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Month</th>
        <th>Year</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let billingCycle of billingCycles">
        <td>{{ billingCycle.name }}</td>
        <td>{{ billingCycle.month }}</td>
        <td>{{ billingCycle.year }}</td>
        <td class="table-actions">
          <button class="btn btn-warning" (click)="onClickUpdate.emit(billingCycle)">
            <i class="fa fa-pencil"></i>
          </button>
          <button class="btn btn-danger" (click)="onClickDelete.emit(billingCycle)">
            <i class="fa fa-trash-o"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="box-foo clearfix">
    <br/><br/>
    <div class="pull-right">
      <app-pagination [num]="numPages" [page]="page"></app-pagination>
    </div>
  </div>
</div>